{
    "singleQuote": true,
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
      {
        "files": "*.html",
        "options": { "parser": "html" }
      },
      {
        "files": "*.ejs",
        "options": { "parser": "html" }
      }
    ]
  }
  